@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Yellowtail&display=swap');

.ui.inverted.raised.center.aligned.segment{
  margin-top: 10em;
  border-radius: 30px;
}

.content{
  background-color: rgba(116, 8, 8, 0.582) !important;
}

.ui.tiny.modal.transition.visible.active, .content{
  border-radius: 50px !important;
}

.ui.tiny.image{
  border-radius: 50px;
  padding: 3px;}

.buttonsMotion{
  margin-top: 1em !important;
}
.motion{
  display: flex;
}

.item{
  padding: 3px !important;
  padding-right: 10px !important;
  color: white !important;
  font-family: 'Architects Daughter', cursive !important;
  font-size: 1.6em;
  margin-right: 2em;
}

.item:hover{
  color: black !important;
  text-shadow: 1px 1px 2px red, 0 0 1em white, 0 0 0.2em white !important;
  text-transform: uppercase !important;
}

.ui.header.myname{
  color: white !important;
  font-family: 'Yellowtail', cursive;
  font-size: 1.8em !important;
  margin-left: 0.6em;
}

.ui.header.myname:hover{
  color: black !important;
  text-shadow: 1px 1px 2px red, 0 0 1em white, 0 0 0.2em white !important;
}

.ui.tiny.menu .item:before{
  background: none;
  content: 0;
}
.ui.tiny.menu{
  background-color: rgba(255, 255, 255, 0.178);
  border-bottom: 2px solid;
}

body{
  background-color: rgba(116, 8, 8, 0.952) !important;
}

.modalIcons{
  display: flex !important;
  justify-content: center !important;
}

